[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-multiselectfield = "*"
django-phonenumber-field = "*"
django-phonenumbers = "*"
djangorestframework-simplejwt = "*"
icecream = "*"
django-filter = "*"
django-rest-passwordreset = "*"
pytest-django = "*"
pytest = "*"
redis = "*"
django-celery-beat = "*"
flower = "*"
celery = "*"
python-decouple = "*"
faker = "*"
psycopg2-binary = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
